/* Remove default footer text */
.md-footer-meta {
    display: none;
}

/* Add custom footer text */
.md-footer:after {
    content: "Powered by MindShield";
    display: block;
    text-align: center;
    color: #f8f8f2;
}
